@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: 'Source Code Pro', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
span {
  font-weight: 200;
}
nav {
  display: block;
  width: 100%;
  background-color: #1B1E25;
}
.navigation {
  display: flex;
  flex-direction: column;
}
.navigation li {
  display: block;
  width: 100%;
  text-align: center;
}
.navigation li a {
  display: block;
  padding: 15px;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  text-transform: uppercase;
  color: #f2f2f2;
}
.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #1B1E25;
  color: #f2f2f2;
}
.name h1 {
  margin-top: 50px;
  border: 1px solid #f2f2f2;
  padding: 20px;
  text-transform: uppercase;
}
.name p {
  text-align: justify;
  margin-bottom: 20px;
  padding: 20px;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.fa-code {
  font-size: 100px;
}
.skills h2 {
  text-transform: uppercase;
}
.skills p {
  text-align: justify;
  padding: 20px;
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #1B1E25;
  color: #f2f2f2;
}
.portfolio h2 {
  margin: 20px 0;
  font-size: 2em;
  text-transform: uppercase;
}
.portfolio-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.portfolio-items li a {
  display: block;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  font-size: 1.2em;
  color: #f2f2f2;
  transition: .3s all;
}
.portfolio-items li a:hover {
  background-color: #f2f2f2;
  color: #1B1E25;
}
.portfolio-thumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}
.portfolio-thumbs li {
  margin: 5px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #2ABBAE;
}
.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.connect h2 {
  margin: 10px 0;
  font-size: 2em;
  text-transform: uppercase;
}
.connect-items li{
  margin: 10px 0;
  font-size: 1.5em;
}
.contact-form h3 {
  text-transform: uppercase;
}
.contact-form form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 20px 0;
}
.contact-form input {
  margin: 5px 0;
  font-size: 1.2em;
}
.contact-form textarea {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.contact-form button {
  font-size: 1.2em;
}
footer {
  text-align: center;
  padding: 10px;
}
footer a {
  text-decoration: underline;
  font-size: 1.1em;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
  }
  .navigation li:last-child{

  }
  .name p {
    max-width: 760px;
  }
  .skills p {
    max-width: 760px;
  }
  .portfolio-items {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .portfolio-items li {
    margin-right: 50px;
  }
  .portfolio-items li:last-child {
    margin-right: 0;
  }
  .contact {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding: 30px;
  }
}
