@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: 'Source Code Pro', monospace;
  color: #1B1E25;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
span {
  font-weight: 200;
}


.container  {
  max-width: 960px;
  margin: 0 auto;
}
header {
  min-height: 100vh;
  background-color: #1B1E25;
  color: #f2f2f2;

}
nav {
  border-bottom: 1px solid #f2f2f2;
}
.navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  text-transform: uppercase;
}
.navigation li {
  padding: 5px;
}
.navigation li a {
  padding: 5px;
  border-radius: 5px;
  color: #f2f2f2;
  transition: 0.3s all;
}
.navigation li a:hover {
  background-color: #f2f2f2;
  color: #1B1E25; 
}
header h1 {
  width: 200px;
  margin: 20vh auto 0 auto;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #f2f2f2;
}

header p {
  width: 305px;
  margin: 20px auto 0 auto;
  text-align: justify;
}
.skills {
  min-height: 100vh;
  background-color: #f2f2f2;
}
.skills-title {
  text-align: center;  
}
.fa-code {
  margin-top: 25vh;
  font-size: 100px;
}
.skills-title h2 {
  width: 200px;
  margin: 0 auto;
}
.skills-description {
  width: 300px;
  margin: 10px auto 0 auto;
  padding: 5px;
  border-left: 1px solid #1B1E25;
  text-align: center;
}
.portfolio {
  min-height: 100vh;
  background-color: #1B1E25;
  color: #f2f2f2;
}
.portfolio-description {
  text-align: center;
}
.portfolio-description h2 {
  display: inline-block;
  margin-top: 25vh;
  text-transform: uppercase;
}
.portfolio-description p {
  margin-top: 10px;
}
.portfolio-items {
  margin-top: 50px;
  font-size: 20px;
}
.portfolio-items li {
  margin-top: 20px;
  padding: 10px;
}
.portfolio-items li a {
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  color: #f2f2f2;
  text-transform: uppercase;
  transition: 0.3s all;
}
.portfolio-items li a:hover {
  background-color: #f2f2f2;
  color: #1B1E25;
}
.contact {
  min-height: 100vh;
  background-color: #2ABBAE;
}
.connect {
  text-align: center;
}
.connect h2 {
  display: inline-block;
  margin-top: 10px;
  text-transform: uppercase;
}
.connect-items {
  margin-top: 20px;
  font-size: 20px;
}
.connect-items li {
  margin-top: 10px;
}
.connect-items li a {
  color: #1B1E25;
}
.contact-form {
  margin-top: 20px;
  text-transform: uppercase;
}
.contact-form h3 {
  text-align: center;
}
.contact-form form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  margin: 20px auto 0 auto;
}
.contact-form form input {
  margin-bottom: 10px;
  line-height: 30px;
}
.contact-form form textarea {
  margin-bottom: 10px;
}
.contact-form form button {
  padding: 10px;
}
footer {
  text-align: center;
  padding: 20px;
}




/*MEDIA QUERIES*/

/* 
 Pra dispositivos que tem uma largura mínima de 768 pixels. Tablets, por exemplo.
*/
@media screen and (min-width: 768px) {
  header h1 {
    width: 400px;
  }
  header p {
    width: 450px;
  }
  .skills-title h2 {
    width: 400px;
  }
  .skills-description {
    width: 500px;
  }
  .portfolio-description ul li {
    display: inline;
  }
  .connect {
    float: left;
    padding: 60px;
  }
  .contact-form {
    float: right;
    margin-top: 0;
    padding: 60px;
  }
}
 
/* 
 Com uma largura mínima de 992 pixels. Monitores por exemplo.
*/
@media screen and (min-width: 992px) {
  .skills {
    position: relative;
  }
  .skills-title {
    margin-left: 100px;
    text-align: left;
  }
  .skills-title h2 {
    display: inline-block;    
    width: 200px;
    text-align: center;

  }
  .skills-description {
    display: inline-block;
    position: absolute;
    top: 155px;
    left: 450px;
  }
  .connect, .contact-form {
    padding: 90px;
  }
}
 
/* 
 Dispositivos com largura mínima de 1200 pixels. Por exemplo TVs.
*/
@media screen and (min-width: 1200px) {
  .skills-description {
    top: 155px;
    left: 550px;
  }
}
@media screen and (min-width: 1440px) {
  .skills-description {
    top: 190px;
    left: 660px;
  }
}