@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000; }

ul li {
  list-style: none; }

body {
  font-family: "Source Code Pro", sans-serif; }

span {
  font-weight: 200; }

header {
  text-align: center;
  background-color: #1b1e25;
  color: #fff; }

.navigation li {
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #fff; }
  .navigation li a {
    color: #fff; }
