// FONTS

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,700')

$fonts: 'Source Code Pro', sans-serif

// COLORS

$background-dark: #1b1e25
$background-white: #f2f2f2
$background-green: #2abbae
