@import reset
@import variables


// GLOBALS
body
  font-family: $fonts
span 
  font-weight: 200


// HEADER
header
  text-align: center
  background-color: $bg-dark
  color: #fff

.navigation
  li
    padding: 10px
    width: 90%
    margin: 0 auto
    border-bottom: 1px solid #fff
    a    
      color: #fff